node_modules
dist
dist-ssr
src-tauri/target
*.local
.env
.env.*
!.env.example
.data

# Logs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
